# Importing Files

In [6]:
#!wget ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/v4/ghcnm.latest.qcu.tar.gz

In [3]:
# Import Packages

import pandas as pd 

# Options 

pd.options.display.float_format='{:,.2f}'.format
pd.set_option('display.width',85)
pd.set_option('display.max_columns',8)

In [15]:

# Reading file locally

landtemps = pd.read_csv('../../Datasets/landtempssample.csv',
                        names=['stationid','year','month','avgtemp','latitude',
                        'longitude','elevation','station','countryid','country'],
                        skiprows=1,
                        parse_dates=[['month','year']],
                        low_memory=False

    
    )

In [20]:
landtemps.head(7)

,month_year,stationid,avgtemp,latitude,...,elevation,station,countryid,country
0,2000-04-01,USS0010K01S,5.27,39.90,...,"2,773.70",INDIAN_CANYON,US,United States
1,1940-05-01,CI000085406,18.04,-18.35,...,58.00,ARICA,CI,Chile
2,2013-12-01,USC00036376,6.22,34.37,...,61.00,SAINT_CHARLES,US,United States
3,1963-02-01,ASN00024002,22.93,-34.28,...,65.50,BERRI_IRRIGATION,AS,Australia
4,2001-11-01,ASN00028007,nan,-14.78,...,79.40,MUSGRAVE,AS,Australia
5,1991-04-01,USW00024151,5.59,42.15,...,"1,362.50",MALAD_CITY,US,United States
6,1993-12-01,RSM00022641,-10.17,63.90,...,13.00,ONEGA,RS,Russia