# Importing Files

In [6]:
#!wget ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/v4/ghcnm.latest.qcu.tar.gz

In [3]:
# Import Packages

import pandas as pd 

# Options 

pd.options.display.float_format='{:,.2f}'.format
pd.set_option('display.width',85)
pd.set_option('display.max_columns',8)

In [15]:

# Reading file locally

landtemps = pd.read_csv('../../Datasets/landtempssample.csv',
                        names=['stationid','year','month','avgtemp','latitude',
                        'longitude','elevation','station','countryid','country'],
                        skiprows=1,
                        parse_dates=[['month','year']],
                        low_memory=False

    
    )

In [20]:
landtemps.head(7)

,month_year,stationid,avgtemp,latitude,...,elevation,station,countryid,country
0,2000-04-01,USS0010K01S,5.27,39.90,...,"2,773.70",INDIAN_CANYON,US,United States
1,1940-05-01,CI000085406,18.04,-18.35,...,58.00,ARICA,CI,Chile
2,2013-12-01,USC00036376,6.22,34.37,...,61.00,SAINT_CHARLES,US,United States
3,1963-02-01,ASN00024002,22.93,-34.28,...,65.50,BERRI_IRRIGATION,AS,Australia
4,2001-11-01,ASN00028007,nan,-14.78,...,79.40,MUSGRAVE,AS,Australia
5,1991-04-01,USW00024151,5.59,42.15,...,"1,362.50",MALAD_CITY,US,United States
6,1993-12-01,RSM00022641,-10.17,63.90,...,13.00,ONEGA,RS,Russia

In [21]:
landtemps.dtypes

month_year    datetime64[ns]
stationid             object
avgtemp              float64
latitude             float64
longitude            float64
elevation            float64
station               object
countryid             object
country               object
dtype: object

In [22]:
landtemps.rename(columns={'month_year':'measuredate'},inplace=True)

In [23]:
landtemps.avgtemp.describe()

count   85,554.00
mean        10.92
std         11.52
min        -70.70
25%          3.46
50%         12.22
75%         19.57
max         39.95
Name: avgtemp, dtype: float64

In [25]:
landtemps.isnull().sum()

measuredate        0
stationid          0
avgtemp        14446
latitude           0
longitude          0
elevation          0
station            0
countryid          0
country            5
dtype: int64

In [26]:
landtemps.dropna(subset=['avgtemp'],inplace=True)

In [28]:
landtemps.count()

measuredate    85554
stationid      85554
avgtemp        85554
latitude       85554
longitude      85554
elevation      85554
station        85554
countryid      85554
country        85552
dtype: int64

In [1]:
landtemps.describe()

NameError: name 'landtemps' is not defined